[user]
	name = Jay Buffington
	email = jaybuff@apple.com
	#email = me@jaybuff.com
[color]
	ui = true
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[core]
	excludesfile = ~/.gitignore
	editor = vim
	pager = less -r
[merge]
	tool = opendiff
[clean]
	requireForce = false
[push]
	default = matching
[alias]
    copr = "!f() { git fetch -fu ${2:-origin} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
